<div class="cw">
    <div class="zci__main  zci__main--detail  c-base">
        <div class="zci__body">{{#if content}}{{{content}}}{{else}}{{{include meta.options.content}}}{{/if}}
            {{#if meta.options.moreAt}}
                <div class="c-base__links">
                    {{{moreAt meta 'none' className="c-base__link"}}}
                    {{#if meta.options.moreText}}
                        <span class="c-base__link--more  sep--before">{{{formatSubtitle meta.options.moreText}}}</span>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
