<div class="c-info--cw  cw {{#if infoboxData}}has-aux{{/if}}">
    <div class="zci__main  c-info">
        <div class="zci__body">
        {{#if Image}}
            <div class="c-info__img-wrap  c-info__img-wrap--{{#if imageTile}}tile{{else}}clip{{/if}}">
                <a href="{{{AbstractURL}}}" class="c-info__img-wrap__in"><img class="c-info__img  js-sized-img" src="{{{Image}}}" {{#if imageLoadingSize}}style="width:{{imageLoadingSize.width}}px;height:{{imageLoadingSize.height}}px;" {{/if}} /></a>
            </div>
        {{/if}}
            <div class="c-info__body">
            {{#if Heading}}
                {{{formatTitle "Date" el="h1" className="c-info__title" href=AbstractURL ellipsis=100}}}
            {{/if}}
            <span class="c-info__title__sub ">JavaScript</span>
                <div class="c-info__content chomp js-ellipsis prog__container">
                  <p>Creates a JavaScript Date instance that represents a single moment in time. Date objects are based on a time value that is the number of milliseconds since 1 January, 1970 UTC.</p>
                  
                  <pre>
                    <code>
new Date;<br>
new Date(value);<br>
new Date(dateString);<br>
new Date(year, month[, day[, hour[, minutes[, seconds[, milliseconds]]]]]);
                    </code>
                  </pre>

                  <div class="prog__sub">Return Value</div>

                  <p>The removed element.</p>

                  <div class="prog__sub">Examples</div>

                  <p>The following code displays an array before and after removing its first element. It also displays the removed element:</p>

                  <pre>
                    <code>var myFish = ['angel', 'clown', 'mandarin', 'surgeon'];<br>
<br>
console.log('myFish before: ' + myFish);<br>
// "myFish before: angel,clown,mandarin,surgeon"<br>
<br>
var shifted = myFish.shift(); <br>
<br>
console.log('myFish after: ' + myFish); <br>
// "myFish after: clown,mandarin,surgeon" <br>
<br>
console.log('Removed this element: ' + shifted); <br>
// "Removed this element: angel"<br>
                    </code>
                  </pre>

                </div>
                <div class="c-info__links">
                {{{include 'chomp_link' className="c-info__link  c-info__link--chomp" sep=meta}}}
                {{#if meta}}
                    {{{moreAt meta AbstractURL className="c-info__link" sourceOnlyMobile=true}}}
                {{/if}}
                {{#each Results to="0"}}
                    <a class="c-info__link  c-info__link--url" href="{{FirstURL}}"><span class="sep  c-info__links__sep"></span>{{domain FirstURL}}</a>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
