<div class="zci__main  zci__main--single-loc">
    <div class="tile--map  js-tile-map">
        <div class="tile__body">
            <div class="tile--map__side">
                <a class="tile__media" href="{{{url}}}">
                    {{#if image}}
                        <div class="tile__media__wrapper">
                            <img src="{{imageProxy image}}" alt="{{title}}" class="tile__media__img" />
                        </div>
                    {{else}}
                        <span class="ddgsi tile__media__no-img">@</span>
                    {{/if}}
                </a>

                {{#and meta.sourceName url}}
                    <div class="tile__more-wrap">
                        {{{moreAt url meta.sourceName className="tile__more-link" iconClassName="tile__favicon" dynamicMoreAtText=5}}}
                    </div>
                {{/and}}
            </div>
            <h4 class="tile__title">
                <a href="{{{url}}}">{{name}}</a>
            </h4>
            <div class="tile--map__main">
                <div class="tile__rating-and-price">
                    <div class="tile__rating">
                        {{#if meta.options.detail_rating}}
                            {{{include meta.options.detail_rating}}}
                        {{else}}
                            {{#if rating}}
                                {{{starRating rating}}}
                            {{/if}}
                            {{#if reviews}}
                                {{{reviewCount reviews url}}}
                            {{/if}}
                        {{/if}}
                    </div>
                    {{#and rating price}}
                        <span class="sep"></span>
                    {{/and}}
                    {{#if price}}
                        <span class="tile__price">{{{priceSymbols price 4}}}</span>
                    {{/if}}
                </div>
                {{#if address_lines}}
                    <p class="tile__sub">
                        {{#each address_lines}}
                            {{.}}<br />
                        {{/each}}
                    </p>
                {{else}}
                    {{#if address}}
                        <p class="tile__sub">{{address}}</p>
                    {{/if}}
                {{/if}}
                {{#if phone}}
                    <a class="tile__phone" href="tel:{{phone}}">{{phone}}</a>
                {{/if}}
                {{#if hours}}
                    <div class="tile__hours-today">
                        <span class="tile__hours-today__label">DDG.Text.TODAY:</span>
                        <span class="tile__hours-today__hours  {{^if hoursToday}}hours-closed{{/if}}">{{#if hoursToday}}{{hoursToday}}{{else}}DDG.Text.CLOSED{{/if}}</span>
                    </div>
                {{/if}}
                <div class="tile__actions">
                {{#if canMakeCalls}}
                    <a class="tile__actions__btn tile__call btn" href="tel:{{phone}}">Call</a>
                {{/if}}
                {{#if showDirections}}
                    <div class="tile__directions js-directions-container">
                        <a class="tile__actions__btn btn js-directions-link" href="{{directions}}">Get Directions</a>
                    </div>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
