<span class="mapview-marker__popup {{#if singleLinePopup}}mapview-marker__popup--single-line{{/if}} {{#if showDirections}}has-directions js-popup-directions-container{{/if}}">
    {{#unless showDirections}}
        {{#if name}}
            <span class="mapview-marker__popup__name">{{name}}</span>
        {{/if}}
        {{#if address}}
            <span class="mapview-marker__popup__address">{{address}}</span>
        {{/if}}
        {{#if displayLatLon}}
            <span class="mapview-marker__popup__latlon">{{{displayLatLon}}}</span>
        {{/if}}
    {{else}}
        <a class="js-directions-link" href="#">
        {{#if name}}
            <div class="mapview-marker__popup__directions-name">
                <span class="ddgsi mapview-marker__popup__directions-icon">d</span>
                <span class="mapview-marker__popup__name">{{name}}</span>
            </div>
        {{/if}}
        {{#if address}}
            <span class="mapview-marker__popup__address">{{address}}</span>
        {{/if}}
        {{#if displayLatLon}}
            <span class="mapview-marker__popup__latlon">{{{displayLatLon}}}</span>
        {{/if}}
        </a>
    {{/unless}}
</span>
