<span class="mapview-marker__popup {{#if singleLinePopup}}mapview-marker__popup--single-line{{/if}} {{#if showDirections}}has-directions js-popup-directions-container{{/if}}">
    {{#unless showDirections}}
        {{#if name}}
            <span class="mapview-marker__popup__name">{{name}}</span>
        {{/if}}
        {{#if address}}
            <span class="mapview-marker__popup__address">{{address}}</span>
        {{/if}}
        {{#if displayLatLon}}
            <span class="mapview-marker__popup__latlon">{{{displayLatLon}}}</span>
        {{/if}}
    {{else}}
        {{#if name}}
            <div class="mapview-marker__popup__directions-name">
                <a class="ddgsi mapview-marker__popup__directions-icon js-directions-link" href="#">d</a>
                <a class="mapview-marker__popup__name js-directions-link" href="#">{{name}}</a>
            </div>
        {{/if}}
        {{#if address}}
            <a class="mapview-marker__popup__address js-directions-link" href="#">{{address}}</a>
        {{/if}}
        {{#if displayLatLon}}
            <a class="mapview-marker__popup__latlon js-directions-link" href="#">{{{displayLatLon}}}</a>
        {{/if}}
    {{/unless}}
</span>
