<div class="metabar  metabar--fixed  js-zcm-sticky {{#if hidden}}is-hidden{{/if}}">
	<div class="metabar__in  js-metabar">
		<span class="metabar__mode-wrap"><a class="btn--icon  metabar__mode  js-metabar-mode  is-disabled">{{initialModeIcon}}</a></span>
		{{#if showMoreAt}}
			<div class="metabar__more-at">
            {{#if sources}}
                <div class="frm__select">
                    <select class="js-metabar-sources">
                    {{#each sources}}
                        <option value="{{id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                    {{/each}}
                    </select>
                </div>
            {{else}}
                {{{moreAt this 'none'}}}
            {{/if}}
			</div> 
		{{/if}}
		{{#if parameters}}
			<div class="metabar__parameters">
			{{#each parameters}}
				<div class="frm__select">
					<select data-id="{{id}}" class="js-metabar-{{id}}">
					{{#each options}}
						<option value="{{option}}" {{#if selected}}selected{{/if}}>{{description}}</option>
					{{/each}}
					</select>
				</div>
			{{/each}}
		</div>
		{{/if}}
		{{#if secondaryText}}
			<div class="metabar__secondary-text  hide--screen-s">{{{secondaryText}}}{{#if showMoreAt}}<span class="sep"></span>{{/if}}</div>
		{{/if}}
		<div class="metabar__attribution  js-attribution  hide--screen-s  is-hidden">{{#if showMoreAt}}<span class="metabar__attribution__sep sep"></span>{{else}}{{#if secondaryText}}<span class="metabar__attribution__sep sep"></span>{{/if}}{{/if}}</div>
		{{#if primaryText}}
			<div class="metabar__primary-text">{{{primaryText}}}</div>
		{{else}}
			<div class="metabar__primary-text js-metabar-primary {{^if count}}is-loading{{/if}}">{{{showingHTML}}}</div>
		{{/if}}
	</div>
</div>
