<div class="detail__inner">
    <div class="detail__media  detail__media--images">
        <div class="detail__media__img-wrapper  js-image-detail-wrapper">
        {{#if linkImage}}
            <a {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} href="{{image}}" class="detail__media__img-link  js-detail-img  js-image-detail-link" target="_blank">
        {{/if}}
                <div style="width:{{detail.transBgWidth}};height:{{detail.transBgHeight}};" class="detail__media__img-bg  js-detail-img  js-detail-img-bg"></div>
                <img src="{{imageProxy thumbnail}}" {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} class="detail__media__img-thumbnail  js-detail-img  js-detail-img-thumb" />
                <img {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} alt="{{title}}" class="detail__media__img-highres  js-detail-img  js-detail-img-high" />
        {{#if linkImage}}
            </a>
        {{/if}}
        </div>
    </div>
    <div class="detail__body  detail__body--images">
        <div class="c-detail  detail__body__content">
            <h5 class="c-detail__title"><a href="{{url}}">{{title}}</a></h5>
            <div class="c-detail__desc">
                {{#if isMobile}}
                    <a href="{{image}}" target="_blank" class="c-detail__btn c-detail__btn--right btn js-image-detail-link">DDG.Text.VIEW_FILE</a>
                {{/if}}
                <p><a href="{{url}}">{{domain url}}</a></p>
                <div class="c-detail__filemeta">
                    {{width}} &times; {{height}}
                </div>
                {{^if isMobile}}
                    <a href="{{image}}" target="_blank" class="c-detail__btn c-detail__btn--bottom btn js-image-detail-link">DDG.Text.VIEW_FILE</a>
                {{/if}}
                <a href="#" class="c-detail__report js-image-report-link">DDG.Text.REPORT_IMAGE</a>
            </div>
        </div>
    </div>
</div>
