<div class="detail__inner">
    <div class="detail__media  detail__media--images">
        <span class="detail__media__img-wrapper  js-image-detail-wrapper">
            <img src="{{imageProxy thumbnail}}" {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} class="detail__media__img-thumbnail  js-detail-img " />
            <img {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} alt="{{title}}" class="detail__media__img-highres  js-detail-img  js-detail-img-high" />
        </span>
    </div>
    <div class="detail__body  detail__body--images">
        <div class="c-detail  detail__body__content">
            <h5 class="c-detail__title"><a href="{{url}}">{{title}}</a></h5>
            <div class="c-detail__desc">
                <p><a href="{{url}}">{{domain url}}</a></p>
                <div class="c-detail__filemeta">
                    {{width}} &times; {{height}}
                    <span class="sep  c-detail__sep"></span>
                    <a href="{{image}}">DDG.Text.VIEW_FILE</a>
                    <span class="sep c-detail__sep"></span>
                    <span class="c-detail__filter">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.14 39.74"><title>circles</title><g style="isolation:isolate"><g id="Layer_1" data-name="Layer 1"><circle cx="12.48" cy="27.25" r="12.48" style="fill:#c3c3c3;opacity:0.85;mix-blend-mode:soft-light"/><circle cx="22.69" cy="12.48" r="12.48" style="fill:#e5e5e5;opacity:0.85;mix-blend-mode:soft-light"/><circle cx="33.66" cy="27.25" r="12.48" style="fill:#f7f7f7;opacity:0.85;mix-blend-mode:soft-light"/></g></g></svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
