<div class="detail__inner">
    <div class="detail__media  detail__media--images">
        <span class="detail__media__img-wrapper  js-image-detail-wrapper">
            <img src="{{imageProxy thumbnail}}" {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} class="detail__media__img-thumbnail  js-detail-img " />
            <img {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} alt="{{title}}" class="detail__media__img-highres  js-detail-img  js-detail-img-high" />
        </span>
    </div>
    <div class="detail__body  detail__body--images">
        <div class="detail__body__content">
            <h5 class="detail__title"><a href="{{url}}">{{title}}</a></h5>
            <div class="detail__desc">
                <p><a href="{{url}}">{{domain url}}</a></p>
                <div class="detail__filemeta">
                    {{width}} &times; {{height}}
                    <span class="sep  detail__sep"></span>
                    <a href="{{image}}">DDG.Text.VIEW_FILE</a>
                </div>
            </div>
        </div>
    </div>
</div>
