<div class="c-detail">
    <h5 class="c-detail__title {{meta.elClass.detailTitle}}">
        {{title}}
        {{#if altSubtitle}}<span class="c-detail__title__sub {{meta.elClass.detailAltSubtitle}}">{{{formatSubtitle altSubtitle}}}</span>{{/if}}
    </h5>
    {{#if subtitle}}<span class="c-detail__subtitle {{meta.elClass.detailSubtitle}}">{{{formatSubtitle subtitle}}}</span>{{/if}}
    {{#if description}}
    <div class="c-detail__desc {{meta.elClass.detailSnippet}}">
        {{ellipsis description meta.snippetChars fallback=155}}
    </div>
    {{/if}}
    {{#if meta.options.callout}}
    <div class="c-detail__callout {{meta.elClass.detailFoot}}">
        {{{include meta.options.callout}}}
    </div>
    {{/if}}
</div>
