<div class="c-detail">
    {{{formatTitle heading href=url el="h5" className="c-detail__title" ellipsis=160 }}}
    <div class="c-detail__subtitle">
        {{#and meta.options.price price}}
            <span class="c-detail__price  price  tx-clr--dk2">{{price}}</span>
        {{/and}}
        {{#and meta.options.price meta.options.brand price brand}}
            <span class="sep  c-detail__sep"></span>
        {{/and}}
        {{#and meta.options.brand brand}}
            <span class="c-detail__brand">DDG.Text.MADE_BY_BRAND</span>
        {{/and}}
        {{#if meta.options.subtitle_content}}
            {{{include meta.options.subtitle_content}}}
        {{else}}
            {{subtitle}}
        {{/if}}
    </div>
    {{#if meta.options.rating}}
        <div class="c-detail__rating">
            {{{starsAndReviews rating reviewCount url_review meta.options.hideReviewText}}}
        </div>
    {{/if}}
    <div class="c-detail__desc {{#if meta.options.hideDescMobile}}hide--mob{{/if} {{#if meta.options.hideDescLandscape}}hide--dsp-lan{{/if}}">
        {{{abstract}}}
    </div>
    {{#if meta.options.buy}}
        <div class="c-detail__callout">
            {{{include meta.options.buy}}}
        </div>
    {{/if}}
</div>
