<div class="breadcrumbs">
  <a href="/?q=ruby language">Ruby</a>
  {{#each Abstract.all_parents}}
  <span class="ddgsi ddgsi-next" style="font-size: .8em;"></span>
  {{#if @first}}
  <a href="/?q={{this}}" style="text-transform: capitalize;"> {{this}}</a>
  {{else}}
  <a href="/?q=ruby {{this}}" style="text-transform: capitalize;"> {{this}}</a>
  {{/if}}
  {{/each}}

    <span class="ddgsi ddgsi-next" style="font-size: .8em;"></span>
    <span style="text-transform: capitalize;"> {{Abstract.title}}</span>

</div>

<div class="categories">
  <div>
    {{{Abstract.desc}}}
  </div>

  {{#list this}}
  <li class="js-expand-this g third {{#if hide}}should-hide hide{{/if}}" data-full="{{full}}" data-url="{{url}}">
    <p>
      <a href="{{encode signal original_title}}&ia=docs">{{title}}</a>
    </p>
    <p class="desc">

    </p>
  </li>
  {{/list}}
</div>

{{#if Abstract.categories}}
<div class="categories__footer c-list__links">
    <a class="c-list__link  chomp--link  {{#if meta.src_url}}sep--after{{/if}} can-expand">
        <i class="chomp--link__icn"></i>
        <span class="chomp--link__mr">Show More</span>
        <span class="chomp--link__ls">Show Less</span>
    </a>
    <span>{{{moreAt meta className="c-list__link"}}}</span>
</div>

{{/if}}
