<div class="breadcrumbs">
  {{#each Abstract.all_parents}}
  {{#if @first}}
  <a href="/?q={{this}}" style="text-transform: capitalize;"> {{this}}</a>
  {{else}}
  <a href="/?q=ruby {{this}}" style="text-transform: capitalize;"> {{this}}</a>
  {{/if}}

  <span class="ddgsi ddgsi-next" style="font-size: .8em;"></span>
  {{/each}}

    <span style="text-transform: capitalize;"> {{Abstract.title}}</span>

</div>

<div class="categories">
  <div>
    {{#if Abstract.all_parents}}
    {{{Abstract.desc}}}
    {{else}}
    Classes in Ruby are first-class objects---each is an instance of class Class.
    {{/if}}
  </div>

  {{#if Abstract.categories}}
  <h3 class="c-base__title" style="margin-top: 1em;">
    {{#if Abstract.all_parents}}
    Methods
    {{else}}
    Classes
    <style>.categories li a { text-transform: capitalize; }</style>
    {{/if}}
  </h3>
  {{/if}}

  
  {{#list this}}
  <li class="js-expand-this g third {{#if hide}}should-hide hide{{/if}}" data-full="{{full}}" data-url="{{url}}">
    <p>
      <a href="{{encode signal original_title}}&ia=docs"> {{title}}</a>
    </p>
    <p class="desc">

    </p>
  </li>
  {{/list}}
</div>

<div class="categories__footer c-list__links">
  {{#if Abstract.categories}}
    <a class="c-list__link  chomp--link  {{#if meta.src_url}}sep--after{{/if}} can-expand">
        <i class="chomp--link__icn"></i>
        <span class="chomp--link__mr">Show More</span>
        <span class="chomp--link__ls">Show Less</span>
    </a>
    {{/if}}
    <span>{{{moreAt meta.src_url meta.src_name}}}</span>
</div>

