<a href="{{sourceUrl}}" class="{{className}}">
	{{~#if sourceIcon}}{{{favicon sourceUrl className=iconClassName}}}{{/if~}}
	{{~#if sourceIconUrl}}<img class="{{iconClassName}}" src="{{imageProxy sourceIconUrl}}" />{{/if~}}
	{{{moreAtText}}}
</a>
