<div class="tile  tile--b {{#unless meta.elClass.tile}} tile--c {{else}} {{meta.elClass.tile}} {{/unless}} tile--{{meta.id}}" {{#if url}}data-link="{{url}}"{{/if}}>  
  <div class="tile__body">{{#if meta.options.tile_content}}{{{include meta.options.tile_content}}}{{else}}{{{include meta.options.content}}}{{/if}}</div>
</div>
