<div class="tile  tile--b {{#if elClass}}{{elClass}}{{else}}{{#if meta.elClass.tile}}{{meta.elClass.tile}}{{else}}tile--c{{/if}}{{/if}} tile--{{meta.id}}" {{#if url}}data-link="{{url}}"{{/if}}>  
  <div class="tile__body">{{#if meta.options.tile_content}}{{{include meta.options.tile_content}}}{{else}}{{{include meta.options.content}}}{{/if}}</div>
</div>
