<div class="tile  tile--f  tile--{{meta.id}}  {{#if elClass}}{{elClass}}{{else}}{{meta.elClass.tile}}{{/if}}">
    <div class="tile--f__main {{meta.elClass.tileFront}}">
        {{{include meta.options.front_content}}}
    </div>
    <div class="tile--f__alt {{meta.elClass.tileBack}}">
        {{{include meta.options.back_content}}}
    </div>
</div>
