<div class="tile  tile--f  tile--{{meta.id}}  {{#if elClass}}{{elClass}}{{else}}{{meta.elClass.tile}}{{/if}}">
    <div class="tile--f__main {{meta.elClass.tileFront}}">
        {{#with data_front}}
            {{{include 'tile_body' meta=../meta num=../num}}}
        {{/with}}
    </div>
    <div class="tile--f__alt {{meta.elClass.tileBack}}">
        {{#with data_back}}
            {{{include 'tile_body' meta=../meta num=../num}}}
        {{/with}}
    </div>
</div>
