{{~#unless this.n~}}
<div class="tile  tile--img  has-detail" style="width:{{tileWidth}}px;">
    <div class="tile--img__media">
      <span class="tile--img__media__i">
        <img class="tile--img__img  js-lazyload" src="" data-src="{{imageProxy thumbnail}}" data-orig="{{imageProxy image}}" alt="{{title}}" />
      </span>
    </div>
    <div class="tile--img__details">
      <div class="tile--img__dimensions">
	<i class="tile--img__icon">+</i>
	<em>{{width}} &times; {{height}}</em>
      </div>
    </div>
</div>
{{~/unless}}
