<div class="tile  tile--c  tile--news" data-link="{{url}}">
    {{#if fetch_image}}
        <div class="tile__media" {{#if image}}style="background-image:url({{imageProxy image}}"{{/if}}>
            {{^if fetched_image}}<span class="ddgsi ddgsi-more"></span>{{/if}}
        </div>
    {{/if}}
	<div class="tile__body  has-foot">
		<h3 class="tile__title  {{#if fetch_image}}tile__title--3{{else}}tile__title--4{{/if}}  tile__title--min"><a href="{{url}}" title="{{title}}">{{{title}}}</a></h3>
        {{^if fetch_image}}
		    <div class="tile__content  tile__content--news">{{{excerpt}}}</div>
        {{/if}}
	</div>
	<div class="tile__foot  tile__foot--news">
		<span class="news-more-at">
			{{{favicon url lazy="1" className="tile__favicon"}}}
			<span class="news-source">{{ellipsis source 20}}</span>
		</span>
		<span class="sep  tile__sep"></span>
		<span class="tile__time">{{{relative_time}}}</span>
	</div>
</div>
