<{{#if url}}a href="{{url}}"{{else}}div{{/if}} class="tile  tile--c--w  tile--news">
	{{#if image}}
		<div class="tile__media">
			<div class="tile__media__img" style="background-image:url({{imageProxy image}});"></div>
		</div>
	{{else}}
		{{#if fetch_image}}
			<div class="tile__media">
				<div class="tile__media__plc ddgsi ddgsi-news"></div>
				{{#if image}}<div class="tile__media__img" style="background-image:url({{imageProxy image}});"></div>{{/if}}
			</div>
		{{/if}}
	{{/if}}
	<div class="tile__body  has-foot">
		<h3 class="tile__title  {{#if fetch_image}}tile__title--under-image{{/if}}  js-ellipsis">{{{title}}}</h3>
        {{^if fetch_image}}
		    <div class="tile__content  tile__content--news  js-ellipsis">{{{excerpt}}}</div>
        {{/if}}
	</div>
	<div class="tile__foot  tile__foot--news">
		<span class="news-more-at">
			{{#if favicon_url}}
				{{{favicon favicon_url lazy="1" className="tile__favicon"}}}
			{{else}}
				{{{favicon url lazy="1" className="tile__favicon"}}}
			{{/if}}
			<span class="news-source">{{ellipsis source 20}}</span>
		</span>
		{{#if relative_time}}
			<span class="sep  tile__sep"></span>
			<span class="tile__time">{{{relative_time}}}</span>
		{{/if}}
	</div>
</{{#if url}}a href="{{url}}"{{else}}div{{/if}}>
