<div class="tile  tile--f  tile--loc {{#if elClass}}{{elClass}}{{else}}{{meta.elClass.tile}}{{/if}}">
	<div class="tile--f__main  tile--loc__main">
        <div class="tile__media">
            {{#if image}}
                <div class="tile__media__wrapper">
                    <img src="" data-src="{{imageProxy image}}" alt="{{title}}" class="tile__media__img  js-lazyload" />
                </div>
            {{else}}
                <span class="ddgsi tile__media__no-img">@</span>
            {{/if}}
        </div>
		<div class="tile__num">{{num}}</div>
        <div class="tile__body">
            <h6 class="tile__title">{{ellipsis name 33}}</h6>
            {{#if neighborhoodOrCity}}
                <span class="tile__neighborhood">{{neighborhoodOrCity}}</span>
            {{/if}}
            <div class="tile__foot  tile__rating  one-line">
                {{#if meta.options.item_footer}}
                    {{{include meta.options.item_footer}}}
                {{else}}
                    {{#if rating}}
                        {{{starRating rating}}}
                    {{/if}}
                    {{#if reviews}}
                        {{{reviewCount reviews '' true}}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="tile--f__alt  tile--loc__alt">
        <div class="tile__body  {{#and url meta.sourceName}}has-foot{{/and}} has-segments">
            <div class="tile__segment">
                <h6 class="tile__title">
                    <a href="{{url}}" title="{{name}}">{{ellipsis name 33}}</a>
                </h6>
                {{#if price}}
                    <span class="tile__price">{{{priceSymbols price 4}}}</span>
                {{/if}}
            </div>
            {{#if phone}}
                {{#if canMakePhoneCalls}}
                <a href="tel:{{phone}}" class="tile__segment tile__call"><div class="tile__segment__title">Call</div><div class="tile__phone">{{phone}}</div></a>
                {{else}}
                <div class="tile__segment">
                    <div class="tile__segment__title">Phone Number</div>
                    <a href="tel:{{phone}}" class="tile__phone">{{phone}}</a>
                </div>
                {{/if}}
            {{/if}}
            {{#if address}}
                <div class="tile__segment tile__directions js-directions-container">
                    <a class="tile__directions__link tile__segment__title js-directions-link" href="{{directions}}">Directions</a>
                </div>
            {{/if}}
            {{#and url meta.sourceName}}
                <div class="tile__foot">
                    {{{moreAt url meta.sourceName dynamicMoreAtText=5 className="tile--loc__more" iconClassName="tile--loc__more__icon" iconPlaceholder="true"}}}
                </div>
            {{/and}}
        </div>
    </div>
</div>
