<div class="tile {{#if elClass}}{{elClass}}{{else}}{{#if meta.elClass.tile}}{{meta.elClass.tile}}{{else}}tile--c{{/if}}{{/if}} tile--{{meta.id}}" {{#if url}}data-link="{{url}}"{{/if}}>
    <div class="tile__body {{#if meta.options.footer}}has-foot{{/if}} {{meta.elClass.tileBody}}">
        {{{include 'tile_titles'}}}
        <div class="tile__content {{meta.elClass.tileSnippet}}">
            {{ellipsis description meta.snippetChars fallback=100}}
        </div>
        {{#if meta.options.footer}}
            <div class="tile__foot {{meta.elClass.tileFoot}}">
                {{{include meta.options.footer}}}
            </div>
        {{/if}}
        {{#if dateBadge}}
            {{{include 'date_badge'}}}
        {{/if}}
    </div>
</div>
