<{{#if url}}a href="{{url}}"{{else}}div{{/if}} class="tile  tile--c--w  tile--vid  has-detail  opt--t-xxs">
	<div class="tile__media">
		<img src="" data-src="{{imageProxy images.medium}}" alt="{{title}}" class="tile__media__img  js-lazyload" />
		<span class="tile--vid__dur">{{duration}}</span>
		{{!<div class="tile--vid__overlay"><i class="tile--vid__overlay__icon">&#9654;</i></div>}}
	</div>
	<div class="tile__body">
		<h6 class="tile__title  tile__title--2">{{ellipsis title 55}}</h6>
		<span>
			{{{favicon url lazy="1" className="tile__favicon"}}}
			<span class="video-source">{{provider}}</span>
		</span>
		<span class="tile__count">
			{{{viewCount}}}
		</span>
	</div>
</{{#if url}}a{{else}}div{{/if}}>
