<div class="c-detail">
    <h5 class="c-detail__title  hide--dsp-lan"><a href="{{url}}">{{title}}</a></h5>
    <div class="c-detail__desc">
        <div class="c-detail__filemeta">
            {{width}} &times; {{height}}
            <span class="sep  c-detail__sep"></span>
            <a href="{{detail_image}}">DDG.Text.VIEW_FILE</a>
        </div>
    </div>
</div>
