<span class="dsp__media__img-wrapper  js-image-detail-wrapper">
    <img src="{{imageProxy thumbnail}}" {{#if width}}style="width:{{width}};height:{{height}};"{{/if}} class="dsp__media__img-thumbnail  js-detail-img " />
    <img {{#if width}}style="width:{{width}};height:{{height}};"{{/if}} alt="{{title}}" class="dsp__media__img-highres  js-detail-img  js-detail-img-high" />
</span>

