<span class="dsp__media__img-wrapper  js-image-detail-wrapper">
    <img src="{{imageProxy thumbnail}}" {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} class="dsp__media__img-thumbnail  js-detail-img " />
    <img {{#if detail.width}}style="width:{{detail.width}};height:{{detail.height}};top:{{detail.top}};"{{/if}} alt="{{title}}" class="dsp__media__img-highres  js-detail-img  js-detail-img-high" />
</span>

