<div class="dsp__media__spacer">
    <img class="dsp__media__img  {{meta.elClass.detailImg}}" src="{{#if largeImage}}{{imageProxy largeImage}}{{else}}{{imageProxy image}}{{/if}}" alt="{{imageAlt}}" />
</div>
