<div class="dsp dsp-mob">
    <div class="dsp-mob__media  dsp-mob__media--{{meta.id}}  js-detail-media {{meta.elClass.detailMedia}}">
        {{#if media_content}}
            {{{media_content}}}
        {{else}}
            {{#if image}}
                <img class="dsp__media__img dsp-mob__media__img {{meta.elClass.detailImg}}" src="{{imageProxy image}}" alt="{{imageAlt}}" />
            {{/if}}
        {{/if}}
    </div>
    <div class="dsp-mob__body  dsp-mob__body--{{meta.id}}  {{meta.elClass.detailBody}}">
        <div class="dsp-mob__body__content">
            {{#and url meta.options.mobileMore}}<a href="{{url}}" class="dsp-mob__more disc disc--s {{meta.elClass.bgColor}}"></a>{{/and}}
            {{{content}}}
        </div>
    </div>
</div>

